{% extends 'mysite/base.html' %}
{% load static %}
{% block title %} Geo3D Website {% endblock %}

{% block content %}
  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to geo3d</h1>
      <p>
        Mapping the globe with precision and expertise -
        your partner in surveying solution and real estate services
      </p>
    </div>

    <article class="hero-img">
      <img src="{% static 'assets/images/map-the-globe.png' %}" alt="">
    </article>
  </section>

  <section class="section about" id="about">
    <div class="title">
      <h2> <b>About</b> <span>us</span> </h2>
    </div>

    <article>
      <p>
        Welcome to Geo 3D – Your Premier Surveying Partner
        <p class="mtb-p6">
          At Geo 3D, we're dedicated to shaping the landscape of precision surveying solutions. With a passion for innovation and a commitment to excellence, our team, led by Managing Director Shaabam Abdulaziz Hamdun, brings decades of combined experience to every project.

          From meticulous planning to topographic surveying and real estate consultations, we're here to guide you through every step of your journey.
        </p>
        We don't just map the globe – we shape the future. Join us and experience the difference expertise, reliability, and commitment.
      </p>

      <div class="col2-sm mtb-1">
        <div class="col-content">
          <p>
            Our mission is clear: to provide unparalleled accuracy, efficiency, and reliability in all our surveying solutions. We're dedicated to shaping the landscape of precision surveying with a passion for innovation and a commitment to excellence.
          </p>
        </div>

        <p>
          What sets us apart? Our customer-centric approach, unwavering dedication to quality, and relentless pursuit of innovation. We understand that each project is unique, and we're here to tailor our solutions to meet your specific needs.
        </p>

        <div class="col-content">
          <p>
            Our vision is to be the leading provider of surveying services, recognized for our expertise, integrity, and customer-centric approach. We strive to shape the future of surveying through innovation and dedication to quality.
          </p>
        </div>
      </div>
    </article>
  </section>

  <section class="section services" id="services">
    <div class="title">
      <h2><span>Our</span>  <b>services</b> </h2>
    </div>

    <article>
      <div class="col2-sm">
        <div class="col-content">
          <div class="icon">
            <img src="{% static 'assets/icons/colored/sketch.png' %}" alt="">
            <h3>Planning</h3>
            <p class="mtb-p6">
              Geo3D provides meticulous planning solutions tailored to the needs of
              clients, including urban planning, land use planning, zoning analysis,
              and infrastructure planning, to support sustainable development and
              efficient land management practices.
            </p>
          </div>
        </div>
        
        <div class="col-content-bordered">
          <div class="icon">
            <img src="{% static 'assets/icons/colored/mapping.png' %}" alt="">
            <h3>Land surveying</h3>
            <p class="mtb-p6">
              Utilizing advanced technology and local expertise, Geo3D conducts
              accurate land surveys to provide precise measurements and data for
              various purposes such as property boundary determination, topographic
              mapping, and construction site planning.
            </p>
          </div>
        </div>
        
        <div class="col-content">
          <div class="icon">
            <img src="{% static 'assets/icons/colored/laser-level.png' %}" alt="">
            <h3>topographic surveying</h3>
            <p class="mtb-p6">
              Understanding the lay of the land is essential for any project. Our topographic surveying services provide detailed insights into terrain features, elevations, and natural resources, empowering you to make informed decisions with confidence.
            </p>
          </div>
        </div>

        <div class="col-content-bordered">
          <div class="icon">
            <img src="{% static 'assets/icons/colored/agreement.png' %}" alt="">
            <h3>real estate</h3>
            <p class="mtb-p6">
              Geo3D offers strategic insights and analysis to clients in the real estate
              industry, assisting with market research, property valuation, investment
              analysis, and development feasibility studies to help clients make informed
              decisions and maximize their real estate investments.
            </p>
          </div>
        </div>
        
      </div>
    </article>
  </section>

  <section class="section portfolio3">
    <div class="title">
      <h2><span>company</span>  <b>portfolio</b> </h2>
    </div>
    <article class="p3-projects">
      <div class="img-container project1">
        <img src="{% static 'assets/images/dan-roizer-ETAKnrWhbCs-unsplash.jpg' %}" alt="some image">
        <div class="caption">This is a project</div>
      </div>

      <div class="img-container project2">
        <img src="{% static 'assets/images/IMG_2864.JPG' %}" alt="some image">
        <div class="caption">This is a project</div>
      </div>

      <div class="img-container project3">
        <img src="{% static 'assets/images/istockphoto-1466616149-612x612.jpg' %}" alt="some image">
        <div class="caption">This is a project</div>
      </div>

      <div class="img-container project4">
        <img src="{% static 'assets/images/istockphoto-518652586-612x612.jpg' %}" alt="some image">
        <div class="caption">This is a project</div>
      </div>

      <div class="img-container project5">
        <img src="{% static 'assets/images/pexels-david-mcbee-1546168.jpg' %}" alt="some image">
        <div class="caption">This is a project</div>
      </div>
    </article>
  </section>

  <section class="section testmonials" id="testmonials">
    <div class="title">
      <h2><span>Testmonials</span> </h2>
    </div>

    <article>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testmonial-card">
              <div class="prof-pic">
                <img src="{% static 'assets/images/blank-profile-picture.png' %}" alt="testmonial-image">
              </div>
    
              <div class="testmonial mtb-p6">
                <p class="quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officiis vero earum labore exercitationem magni beatae doloremque.
                </p>

                <div class="name-tittle">
                  <div class="name">
                    <i class="bi bi-person"></i>
                    <p>Abdulaziz Masanja</p>
                  </div>
                  
                  <div class="tittle">
                    <i class="bi bi-suitcase-lg"></i>
                    <p>CEO <b>aztec</b></p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="testmonial-card">
              <div class="prof-pic">
                <img src="{% static 'assets/images/blank-profile-picture.png' %}" alt="testmonial-image">
              </div>
    
              <div class="testmonial mtb-p6">
                <p class="quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officiis vero earum labore exercitationem magni beatae doloremque.
                </p>

                <div class="name-tittle">
                  <div class="name">
                    <i class="bi bi-person"></i>
                    <p>Abdulaziz Masanja</p>
                  </div>
                  
                  <div class="tittle">
                    <i class="bi bi-suitcase-lg"></i>
                    <p>CEO <b>aztec</b></p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="testmonial-card">
              <div class="prof-pic">
                <img src="{% static 'assets/images/blank-profile-picture.png' %}" alt="testmonial-image">
              </div>
    
              <div class="testmonial mtb-p6">
                <p class="quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente officiis vero earum labore exercitationem magni beatae doloremque.
                </p>

                <div class="name-tittle">
                  <div class="name">
                    <i class="bi bi-person"></i>
                    <p>Abdulaziz Masanja</p>
                  </div>
                  
                  <div class="tittle">
                    <i class="bi bi-suitcase-lg"></i>
                    <p>CEO <b>aztec</b></p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="swiper-pagination"></div>

      </div>
      
    </article>
  </section>

  <!-- <section class="section clients" id="clients">
    <div class="title">
      <h2><span>Our</span>  <b>clients</b> </h2>

      <article class="clients-logo">

      </article>
    </div>
  </section> -->

  <section class="section contact" id="contact">
    <div class="title">
      <h2><b>contact</b> <span>us</span>  </h2>
    </div>

    <article>
      <div class="col2-sm">
        <div class="contact-info">
          <div class="info">
            <i class="bi bi-telephone-outbound"></i>
            <div class="vertical-line"></div>
            <p>
              <a href="tel:+255717354358">+255 717 354 358</a> <br>
              <a href="tel:+255717839695">+255 717 839 695</a>
            </p>
          </div>

          <div class="info">
            <i class="bi bi-envelope"></i>
            <div class="vertical-line"></div>
            <p>
              <a href="mailto:shaazabd@gmail.com">shaazabd@gmail.com</a> <br>
              <a href="mailto:geo3d@gmail.com">geo3d@gmail.com</a>
            </p>
          </div>
          

          <div class="info">
            <i class="bi bi-whatsapp"></i>
            <div class="vertical-line"></div>
            <p>
              <a href="#">
                Direct message us <br>
                from here
              </a>
            </p>
          </div>
        </div>
        
        <p class="address"> 
          Office no.5, Wing A, 1st Floor,<br>
          PSSF House, Plot no.105,<br>
          Samora Avenue,<br>
          P.O.Box 76542,<br>
          Dar es salaam.<br>
        </p>

      </div>

      <div class="map-frame">
        <img src="{% static 'assets/images/maps.jpg' %}" alt="">
      </div>
    </article>
  </section>

{% endblock %}

